<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Event</th>
        <th>Contact Email</th>
        <th>Event Info</th>
        <th>Date</th>
        <th>Time</th>
        <th>Users</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${event.name}"></td>
        <td th:text="${event.email}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${#dates.format(event.date, 'dd MMM yyyy')}"></td>
        <td th:text="${#temporals.format(event.time, 'h:mm a')}"></td>
        <td>
            <span><a th:each="user : ${event.userList}" th:text="${user.displayName}" th:href="'/user/details?userId=' + ${user.id}"></a></span>
        </td>
    </tr>
</table>
<div>
<a th:href="'/event/edit-event?eventId=' + ${event.id}">Edit Event</a>
</div>
<div>
<a th:href="'/event/register?eventId=' + ${event.id}">Register For an Event!</a>
</div>

</body>
</html>