<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${event.getName()}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${event.getDescription()}"></td>
    </tr>
    <tr>
        <th>Contact Email</th>
        <td th:text="${event.getEmail()}"></td>
    </tr>
    <tr>
        <th>Date</th>
        <td th:text="${#dates.format(event.getDate(), 'dd MMM yyyy')}"></td>
    </tr>
    <tr>
        <th>Time</th>
        <td th:text="${#dates.format(event.getTime(), 'hh mm aa')}"></td>
    </tr>
</table>

</body>
</html>