<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>
<div class="container body-content">
<table class="table table-striped" th:each="event : ${event}">
    <!--thead-->
    <tr>
        <td>Name</td>
    <!--/tr-->
    <!--/thead-->
    <!--tr th:each="event : ${event}"-->
        <td><a th:text="${event.name}" th:href="'/event?eventId=' + ${event.id}"></a></td>
    </tr>
    <!--thead-->
    <tr>
        <td>Description</td>
    <!--/tr-->
    <!--/thead-->
    <!--tr th:each="event : ${event}"-->
        <td th:text="${event.description}"></td>
    </tr>
    <!--thead-->
    <tr>
        <td>Contact Email</td>
    <!--/tr-->
    <!--/thead-->
    <!--tr th:each="event : ${event}"-->
        <td th:text="${event.email}"></td>
    </tr>
    <!--thead-->
    <tr>
        <td>Date</td>
    <!--/tr-->
    <!--/thead-->
    <!--tr th:each="event : ${event}"-->
        <td th:text="${#dates.format(event.date, 'dd MMM yyyy')}"></td>
    </tr>
    <!--thead-->
    <!--tr>
        <td>Time</td-->
    <!--/tr-->
    <!--/thead-->
    <!--tr th:each="event : ${event}">
        <--td th:text="${#dates.format(event.time, 'hh mm aa')}"><--/--td>
    <--/--tr-->
</table>
</div>

</body>
</html>