<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" action="/event/register">
    <div class="form-group">
            <input type="hidden" th:field="${eventUser.event}" />
        <select th:field="${eventUser.user}">
            <option th:each="user : ${user}" th:value="${user.id}" th:text="${user.username}"></option>
        </select>
        <div class="form-group">
            <input type="submit" value="Register Users" class="btn btn-success">
        </div>
    </div>
</form>

</body>
</html>