<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Play4All</h1>

<header th:replace="fragments :: header"></header>

    <article>
        <!-- add code to pull image on to landing page -->
    </article>

    <article>
        <p> Welcome to Play4All – an up-and-coming recreational sports league management application bringing players, coaches, & sports plex managers together in one place! </p>
        <p> Players & Coaches – Track your past events and upcoming games all within your profile. </p>
        <p> Managers – Attract new teams, advertise your location, and post out your current league schedules. </p>
        <p> We are so excited you chose to check us out! Keep checking in for updates and additional features as we continue to grow. </p>
    </article>

</body>
</html>