<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">



<header th:replace="fragments :: header"></header>


<article>
    <p><span class = "bullets">Welcome to Play4All –</span> an up-and-coming recreational sports league management application bringing players, coaches, & sports plex managers together in one place! </p>
    <p><span class = "bullets">Players & Coaches –</span> Track your past events and upcoming games all within your profile. </p>
    <p><span class = "bullets">Managers –</span> Attract new teams, advertise your location, and post out your current league schedules. </p>
    <p>We are so excited you chose to check us out! Keep checking in for updates and additional features as we continue to grow. </p>
</article>

</body>
</html>