<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: header"></header>

<!--h1 th:text="${venue.name}"></h1>
<p th:text="${venue.description}"></p-->




<h1>Venue Name</h1>
<h2>Description</h2>
<p>Administrators</p>
<p>Contact Info</p>
<p>Create an Event <a href="/event/create">Create</a></p>
<p>Sportz Events<a href="/event/"> Event List</a></p>
<!--table class="table table-striped">

    <thead>
    <tr>
        <th><a href="/event/"> Event List</a></th>
    </tr>
    </thead>
    <th:block th:each="event : ${event}">
        <tr>
        <td th:text="${event.name}"> <th:href="'/event?eventId=' + ${event.id}"></td>
        </tr>
    </th:block>
</table-->

</body>
</html>